#body{
    margin: 0 ;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    background-color: black;  
    height: 100%;
    width: 100%;
    text-align: center;
    animation: fadeInImg 1s ease forwards ; 
}

#elems {
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    margin: 100px; /* Removed the extra semicolon */
    margin-top: 180px; /* Removed the extra semicolon */
}

h1 { 
    margin-top : -110px;
    padding-bottom: 40px; 
    color : white; 
}
#site-label #site { 
    width: 230px;
    margin: 5px;
    margin-top :25px; 
    height: 45px;
    color: black;
    border: none;
    border-radius: 30px;
    text-align: center;
    transition: .3s;
}

.dash { 
    border-radius: 30px;
    margin : 6px; 
    margin-top: 10px;
    text-align: center;
    border: none;
    background-color: white;
    height: 35px;
    width: 95%;

}

#elems #topic , #keyword-label {
    width: 20%;
    margin: 5px;
    margin-top :25px; 
    height: 45px;
    color: black;
    border: none;
    border-radius: 30px;
    text-align: center;
    transition: .3s;
}

#elems #site  { 
    cursor: pointer;
}

#keyword-label {
    width: 20%;
    background-color: white;
    padding-right: 5px; 
    height: 45px;
    border-radius: 30px;
}

#keyword-label #keyword {
    border-radius: 30px;
    margin-left: 0px;
    width: 150px;
    margin-top: 4px;
    text-align: center;
    border: none;
    background-color: white;
    height: 35px;
}

#btn {
    border-radius: 30px;
    border: none;
    margin-top : -55px ;
    margin-right : -25px;
    list-style: none;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    height: 90%;
    width: 15%;
}

#keyword-label #btn:hover {
    background-color: gray;
    transition: ease-in-out .3s;
}


::placeholder {
    text-align: center;
 }

@keyframes fadeInImg {
    from  { 
        opacity:  0 ; 
        transform: translateY(-20px);
    }to { 
        opacity:  1 ;
        transform: translateY(0px) ;
    }
}

button:hover  { 
    transform : scale(1.15,1)    
}

img { 
    height : 100%; 
    width: 100%;
    opacity: 0.2 !important;
    position: fixed;
    top : -50px;
    right : 0px;  
    pointer-events: none ;
}

@keyframes fadeInBtns {
    from { 
        opacity :0;
        transform:translateY(20px) ; 
    }to { 
        opacity:  1 ;
        transform: translateY(0px) ;
    }
}


#keyword-label-1 { 
    width: 100%;
    margin: 5px;
    margin-top :25px; 
    height: 45px;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    text-align: center;
    transition: .3s;
}

.keyword-class {
    border-radius: 30px;
    width: 150px;
    text-align: center;
    border: none;
    background-color: white;
    height: 35px;
}


#btn-1 {
    border-radius: 30px;
    border: none;
    margin-top : -55px ;
    margin-right : -15px;
    list-style: none;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    height: 90%;
    width: 15%;

}

